<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="asperaRepository" class="org.entermedia.aspera.AsperaRepository" singleton="false" >
		<property name="userManager"><ref bean="userManager"/></property>
		<property name="exec"><ref bean="exec" /></property>
	</bean>
	
	<bean id="asperaManager" class="org.entermedia.aspera.AsperaManager" singleton="false" >
		<property name="searcherManager"><ref bean="searcherManager"/></property>
		<property name="moduleManager"><ref bean="moduleManager"/></property>
	</bean>
</beans>